.contagion-section-component {
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media only screen and (max-width: 900px) {
      padding-top: 0rem;
    }

    .illustration-wrapper {
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 900px) {
        flex-direction: column;
      }

      .illustration-image {
        width: 60%;
        @media only screen and (max-width: 900px) {
          width: 100%;
          margin-top: 0rem;
        }
      }
      .petal-image {
        position: absolute;
        @media only screen and (max-width: 900px) {
          display: none;
        }
      }
      .left {
        left: 91px;
        bottom: 10rem;
      }
      .right {
        right: 37px;
        bottom: 0;
      }
    }

    .card-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
      margin-bottom: 4rem;
      padding-left: 15%;
      padding-right: 15%;
      position: relative;
      @media only screen and (max-width: 900px) {
        align-items: center;
        flex-direction: column;
        margin-bottom: 0rem;
      }
      //   cards
      .card {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        width: 32%;
        padding: 2rem;
        box-sizing: border-box;
        z-index: 1;
        background-color: white;
        border-bottom: 0.3rem solid rgba(0, 0, 0, 0);
        transition-duration: 550ms;
        &:hover {
          border-bottom: 0.3rem #fb4c47 solid;
          .CardImageClass {
            transform: translateY(-0.8rem);
          }
        }
        @media only screen and (max-width: 900px) {
          width: 110%;
          margin-bottom: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:hover {
            border-bottom: 0.3rem solid rgba(0, 0, 0, 0);
            .CardImageClass {
              transform: translateY(0rem);
            }
          }
        }
        // header
        .card-header {
          color: #025754;
          font-weight: bold;
          font-size: 1.5rem;
          text-transform: capitalize;
          margin-top: 1rem;
          @media only screen and (max-width: 900px) {
            text-align: center;
          }
        }
        // image
        .card-image {
          width: 80%;
          transition-duration: 550ms;
          @media only screen and (max-width: 900px) {
            width: 100%;
            margin-top: 1rem;
          }
        }
      }
      // accent virus image
      .virus-image-card {
        position: absolute;
        width: 16rem;
        left: 15%;
        z-index: 0;
        bottom: 0;
        transform: translateX(-8.5rem);
        @media only screen and (max-width: 900px) {
          display: none;
        }
      }
      .card:hover {
        @media only screen and (min-width: 900px) {
          transform: scale(1.05);
        }
      }
    }
  }
  .one {
    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  .two {
    flex-direction: column;

    position: relative;
  }
}
